* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 200px;
	background: red;
	text-align: center;
	float: left;
}
#menu {
	width: 100%;
	height: 150px;
	background: blue;
	text-align: center;
	float: left;
}

#left-column {
	display: none;
}
#right-column {
	width: 100%;
	height: 500px;
	float: left;
	background: red;
	text-align: center;
}
#footer {
	width: 100%;
	height: 200px;
	background: blue;
	text-align: center;
	float: left;
}