* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

#box {
	border: 1px solid black;
	width: 500px;
	margin: 10px auto;
}

#sidebar {
	float: right;
	width: 50px;
}

#content {
	float: left;
	width: calc(100%-50px);
}

.clear::after {
	content: "";
	clear: both;
	display: table;
}